/* 
  App.css
  App-wide styles for the Neighborhood Map App
  Author: Steve Prager
*/

.App {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.column {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.row {
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.section {
  border: 2px solid black;
  box-sizing: border-box;
}

#content-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

#list-view-section {
  width: 30%;
}

#map-section {
  width: 70%;
}

#footer-section {
  height: 3%;
}