/* 
  App.css
  App-wide styles for the Neighborhood Map App
  Author: Steve Prager
*/

.App {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.column {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.row {
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.section {
  border: 2px solid black;
  box-sizing: border-box;
}

#content-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

#list-view-section {
  width: 30%;
}

#map-section {
  width: 70%;
}

#footer-section {
  height: 3%;
}

/* 
   Major responsive design changes for mobile 
   screens handled for the whole app here. Easier
   since the flexbox layout shifts 
*/

/* 
   On larger screens, the list view toggle buttono
   is hidden (since the list view is visible)
*/
@media screen and (min-width: 651px) {
  #list-view-toggle {
    display: none;
  }
  #close-view {
    display: none;
  }
}

/* Large phone */
@media screen and (max-width: 650px) {
  #title-section {
    height: 20%;
  }
  #list-view-section {
    transition-property: width;
    transition-duration: 500ms;
    width: 0%;
    border: none;
    padding-top: 3px;
  }
  #map-section {
    transition-property: width;
    transition-duration: 500ms;
    width: 100%;
    height: 100%;
  }
  #list-view-toggle {
    display: block;
    height: 10%;
  }
  #list-view-toggle.hide {
    display: none;
  }
  #close-view {
    display: inline-block;
  }
  #list-view-section.open {
    transition-property: width;
    transition-duration: 500ms;
    width: 60%;
  }
  #map-section.shift {
    transition-property: width;
    transition-duration: 500ms;
    width: 40%;
  }
}