/* 
  ListView.css
  Styles for the ListView component for the Neighborhood Map App
  Author: Steve Prager
*/

#list-view {
  width: 100%;
  height: 100%;
  background-color: #d4eef6;
  overflow: scroll;
}

#list-view-search {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 20pt;
  width: 80%;
  border: 1px solid black;
}

#locations-list {
  list-style: none;
  padding: 0;
  text-align: left;
  font-size: 20pt;
  margin-top: 10px;
}

.list-location {
  margin: 20px 20px 20px 20px;
  padding: 5px;
  font-style: italic;
  color: white;
  cursor: pointer;
  background-color: #0080ff;
  text-align: center;
  border: 3px solid black;
  border-radius: 5px;
}

#list-break {
  width: 80%;
  border-color: #00008b;
  text-align: center;
}

#close-view {
  background-color: #0087BD;
  cursor: pointer;
  font-size: 12pt;
  color: white;
  width: 60%;
  border: 2px solid black;
  margin-top: 10px;
  margin-bottom: 5px;
}

/* Biggest size (large laptop/desktop) */
@media screen and (min-width: 1300px) {
  .list-location {
    font-size: 1.3em;
    margin-bottom: 30px;
  }
  #list-view-search {
    font-size: 1.9em;
  }
}

/* Next size down (regular laptop) */
@media screen and (max-width: 1100px) {
  .list-location {
    font-size: 0.9em
  }
  #list-view-search {
    font-size: 1.5em;
  }
}

/* Next size down (tablet) */
@media screen and (max-width: 900px) {
  .list-location {
    font-size: 0.7em;
  }
  #list-view-search {
    font-size: 1.1em;
  }
}

/* Next size down (Large phone) */
@media screen and (max-width: 650px) {
  #locations-list {
    margin-top: 0;
  }
  #list-view-search {
    margin: 10px;
  }

}

/* Next size down (Small phone) */
@media screen and (max-width: 350px) {
  #locations-list {
    margin-top: 0;
    font-size: 1.4em;
  }
  #list-view-search {
    margin: 10px;
    font-size: 0.9em;
  }
  .list-location {
    border: 1px solid black;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}