/* 
  Map.css
  Styles for the Map component for the Neighborhood Map App
  Author: Steve Prager
*/

#map-container {
	width: 100%;
}

#map {
  height: 100%;
}

#info-window {
  color: black;
  text-align: center;
  font-style: italic;
  font-size: 12pt;
  padding: 5px;
}

#info-window-img {
	width: 150px;
	height: 150px;
}

#list-view-toggle {
	background-color: #d4eef6;
	cursor: pointer;
	font-weight: bold;
	font-size: 14pt;
	line-height: 220%;
	border-bottom: 1px solid black;
}

@media screen and (max-width: 650px) {
	#map-container {
		height: 90%;
	}
	#map-container.full {
		height: 100%;
	}
}

@media screen and (min-width: 651px) {
	#map-container {
		height: 100%;
	}
}

@media screen and (max-width: 450px) {
	#info-window {
		font-size: 1.0em;
	}
	#info-window-img {
		width: 75px;
		height: 75px;
	}
}